:root {
    --search-bar-border-radius: 6px;
    --search-bar-button-width: 100px;
}

.search-bar {
    width: calc(100vw - 400px);
    max-width: 1024px;
    position: relative;
}

.search-bar > input {
    width: calc(100% - var(--search-bar-button-width) + 5px);
    height: var(--search-bar-height);
    border-radius: var(--search-bar-border-radius);
    background-color: #fff;
    border: 2px solid #9FB3C8;
    padding: 20px;
    box-shadow: 0 5px 15px 0 hsla(0, 0%, 0%, 0.15);
    display: flex;
    align-items: center;
    font-size: 24px;
}

.search-bar > button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--search-bar-button-width);
    border-top-right-radius: var(--search-bar-border-radius);
    border-bottom-right-radius: var(--search-bar-border-radius);
    background-color: #0B69A3;
    border-top: 2px solid #9FB3C8;
    border-right: 2px solid #9FB3C8;
    border-bottom: 2px solid #9FB3C8;
    border-left: 0;
    box-shadow: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
