.results-error-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.results-error-container * {
    color: #fff;
    font-size: 32px;
}
